<script src="javascripts/jquery.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src = "javascripts/dataviz.js"></script>
<form action = "">
  <p>Name: (Required) <input type="text" name="name"/></p>
  <p>Blood Glucose: (Required) <input type="number" name="bloodGlucose"/></p>
  <p>Food: <input type="text" name="food"/></p>
</form>

<div id = "graph">