<script src="javascripts/jquery.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src = "javascripts/dataviz.js"></script>

<div id = "auth">
  <button id="signin" type="submit" >Sign In</button>
  <button id="signout" type="submit">Sign Out</button>
</div>
<div id = "graph">
</div>
<script src = "javascripts/otr-info.js"></script>
<script src = "javascripts/swagger-client.js"></script>
<script src = "javascripts/script.js"></script>
