<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#home"><img src = "whitelogo.png"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a class="page-scroll" href="#about">About</a></li>
                        <li><a class="page-scroll" href="#events">Upcoming</a></li>

            <li><a class="page-scroll" href="#faq">FAQ</a></li>
            <li><a class="page-scroll" href="#team">Team</a></li>

<button id="signin" type="submit" >Sign In</button>
                <button id="signout" type="submit">Sign Out</button>
                </span>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>


<div id = "viz">
<div id = "graph"></div><div id = "info"></div><br>
</div>
<div id = "auth">

<form action = "">
  <p>Name: (Required) <input type="text" name="name"/></p>
  <p>Blood Glucose: (Required) <input type="number" name="bloodGlucose"/></p>
  <p>Food: <input type="text" name="food"/></p>
</form>


<div class="modal"></div>


<script src="javascripts/jquery.js"></script>
<script src ="javascripts/jquery.easing.min.js"></script>
<script src = "javascripts/scrolling.js"></script>
<script src="//d3js.org/d3.v3.min.js"></script>
<script src = "javascripts/dataviz.js"></script>
<script src = "javascripts/otr-info.js"></script>
<script src = "javascripts/swagger-client.js"></script>
<script src = "javascripts/script.js"></script>
