<form>
  <p>Name: (Required) <input type="text" name="name"/></p>
  <p>Blood Glucose: (Required) <input type="number" name="bloodGlucose"/></p>
  <p>Food: <input type="text" name="food"/></p>
</form>
