<nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#home"><img src = "images/brand.png"  height = "100%"></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/app">< Back</a></li>
            <li><a href="/postmates">Food for Glucose</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
</nav>
<section id="postmates">
  <h1>Your glucose level is {{ glucoseLevel }}</h1>
  <h2>{{ bloodGlucose }}</h2>
  <h1>You should eat {{ food }}</h1>
  <!--h1>Your order status: {{ myStatus }}</h1-->
</section>

